
.login
  width: 100%
  height: 100%
  display: grid
  justify-content: center
  align-content: center
  .form
    display: grid
    grid-template-row: 4fr
    grid-gap: 10px
    .input
      border-radius: 4px
    .button
      background: #00A67C
      width: 70px
      height: 30px
      border-radius: 7px


