
.resource
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: 70%
  justify-content: center
  align-content: center
  grid-gap: 10px
  .form
    display: grid
    justify-content: left
    grid-gap: 10px
    .title
      display: grid
      grid-gap: 10px
      grid-template-columns: repeat(2, auto)
      .input
        &.error
          border: 1px solid red
    .buttons
      display: grid
      grid-gap: 10px
      grid-template-columns: repeat(3, auto)
      
